<% provide(:title, '新着') %>
<%= javascript_pack_tag 'quizzes/application' %>

<h1>新着</h1>
<ul class="main_quiz_index">
  <%= render @quizzes %>
</ul>

<!--
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <ul class="main_quiz_index">
      <%= render @quizzes %>
    </ul>
  </div>
  <div class="col-md-2"></div>  
</div>
-->
<!-- col-md-8 col-md-offset-2 -->