<div class="center jumbotron">
  <h1>韻クイズ</h1>
  <h2>韻のクイズを作成、回答するサイトです。</h2>

  <%= link_to "Sign upページへ!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rhyme_quiz.png", alt: "Rhyme quiz logo", width: "200px"), '#' %>