<% provide(:title, "韻とは？") %>
<h1>韻とは？</h1>
<p>
  韻については以下を参考にしてください。<br>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/7KE_teby4A4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
  <a href="https://ja.wikipedia.org/wiki/%E9%9F%BB">韻 - Wikipedia</a>
</p>