<% if object.errors.include?(attribute) %>
  <div class="error_attribute_explanation">
    <ul>
    <% object.errors.full_messages_for(attribute).each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>