<div class="quiz_answer_info">
  <div class="answer_commentary text-left">
    <label class="lbl_answer_commentary_title">解説</label>
    <br>
    <label><%= simple_format(@answer.commentary) %></label>
  </div>
<div>