@import 'bootstrap-sprockets';
@import 'bootstrap';

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.user_image {
  float: left;
  margin-right: 10px;
}

/* forms */

input {
  border: 1px solid #bbb;
}

.frm_user_new input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

.frm_user_new input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend.has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Quiz Display */

.main_quiz_index {
  text-align: center;
  display: block;

  .col-md-8 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .card_quiz {
    display: inline-block;
    border: 3px solid #273746;
    border-radius: 1.5em;
    // padding: 30px 30px;
    margin-bottom: 30px;

    .lbl_quiz_question {
      font-size: 2.5em;
      margin-bottom: 30px;
      border-bottom: 3px solid #273746;
      padding: 20px 30px;
      display: flex;

      .mark_symbol {
        font-size: 60px;
      }

      .lbl_question_sentence {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .choices {
      font-size: xx-large;
      text-align: left;
      margin-bottom: 10px;

      .choice {
        border-radius: 0.5em;
        border: 2px solid #273746;
        padding: 5px 20px;
      }

      input[type='checkbox'] {
        @include scale(1.8);
        position: relative;
        top: -5px;
      }

      .answer_rhyme_font {
        color: #ff4136;
        margin-left: 45px;
        font-size: x-large;
      }
    }

    .btn_quiz_answer {
      text-align: right;
      margin: 30px;

      .btn_quiz_answer_font {
        font-size: xx-large;
      }
    }

    .quiz_answer_info {
      font-size: xx-large;
    }
  }
}

/* Quiz Post Page */

.tbl_quiz_post {
  margin: auto;
}

.tbl_quiz_post th,
.tbl_quiz_post td {
  border: 1px solid $gray-lighter;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.tbl_quiz_post th {
  font-size: large;
}

.tbl_quiz_post_no {
  font-size: large;
}

.tbl_quiz_post td input[type='checkbox'] {
  @include scale(1.8);
}

.form_quiz_post {
  text-align: center;
  display: block;

  .form_quiz_post_inline_block {
    display: inline-block;

    .form_left {
      text-align: left;
    }

    .btn_quiz_new {
      text-align: right;
    }
  }
}

.answer-border-top {
  border-top: 3px solid #273746;
  padding: 20px 30px;
}

.lbl_answer_item {
  font-size: xxx-large;
}

// .form-check-label:checked {
//   background-color: red;
// }

// .checkbox-teal [type='checkbox']:checked + label:before {
//   border-color: transparent #009688 #009688 transparent;
// }

// .checkbox-warning-filled
//   [type='checkbox'][class*='filled-in']:checked
//   + label:after {
//   border-color: #ff8800;
//   background-color: #ff8800;
// }
